@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Noto+Sans+JP&family=Poiret+One&display=swap');
:root {
  --fontTitle: 'Black Ops One', cursive;
  --fontLight: 'Poiret One', cursive;
  --fontCont: 'Noto Sans JP', sans-serif;

  --yellow: rgb(255, 217, 0);
  --white: rgb(255, 255, 255);
  --black: rgb(8, 8, 8);
}
*, *::before, *::after {
  box-sizing: border-box;
}
.no-margin {
  margin: 0;
}
body {
  padding: 0;
  font-size: 16px;
  font-family: var(--fontCont);
}
/*-----------------Cebcera de la página-----------*/
header {
  background: rgb(65, 65, 65);
  background: linear-gradient(298deg, rgba(65, 65, 65, 1) 0%, rgba(51, 51, 51, 1) 22%, rgba(28, 28, 28, 1) 64%, rgba(8, 8, 8, 1) 98%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 1em;
}
.logo {
  display: flex;
  align-items: baseline;
  align-content: center;
}
.logo-img {
  width: 10%;
}
img {
  width: 100%;
}
.logo-name {
  font-family: var(--fontTitle);
  font-size: 1.5em;
  margin-left: -0.5em;
}
.logo-name a {
  color: var(--white);
  text-shadow: 2px -3px 5px rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
.logo-span {
  color: var(--yellow);
}
.menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 2em;
}
.menu a {
  color: var(--white);
  text-decoration: none;
}
.menu a:hover {
  color: var(--yellow);
  border-bottom: var(--yellow) 2px solid;
  border-left: var(--yellow) 2px solid;
  padding: 0.3em;
  transform: scale(1.1);
  transition: 0.5s;
}
.active {
  color: var(--yellow);
  border-bottom: var(--yellow) 2px solid;
}
/*-----------------cuerpo de la página-----------*/

.cont {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(135deg, rgba(0, 0, 0, 1) 40%, rgba(255, 216, 0, 1) 40%, rgba(255, 216, 0, 1) 56%, rgba(0, 0, 0, 1) 56%);
}
.title {
  font-family: var(--fontTitle);
  color: var(--white);
  font-size: 2.5em;
  align-self: flex-start;
}

/*-----------------Galería-----------*/

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#gallery {
  width: 60%;
  height: 100vh;
  padding: 1em;
}
.controls {
  padding: 0.5em;
  margin-top: -10em;
  font-size: 2em;
  background-color: var(--yellow);
  gap: 0.5em;
  border-radius: 10px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  border: var(--black) 2px dashed;
}
.slogan {
  position: absolute;
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.0px);
  -webkit-backdrop-filter: blur(4.0px);
  border-radius: 10px;
  text-align: center;
}
.slogan h2 {
  color: var(--white);
  font-family: var(--fontLight);
  font-size: 2em;
}
.slogan h1 {
  color: var(--yellow);
  font-family: var(--fontTitle);
  font-weight: bold;
  font-size: 3em;
  text-transform: uppercase;
}
.controls a {
  color: var(--fontCont);
}
.controls a:hover {
  color: var(--white);
}
.photo {
  width: 100%;
  height: 20vh;
}


/*-----------------Actividades-----------*/

.mini-title {
  color: var(--yellow);
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6);
  font-size: 2em;
}
.activities {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 1em;
}
.activities-class {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*------------Imágenes-----------*/

div[class*="img-"] {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img-a {
  background-image: url("../img/activities/yoga.webp");
}
.img-b {
  background-image: url("../img/activities/body-combat.jpeg");
}
.img-c {
  background-image: url("../img/activities/total-training.jpg");
}
.img-d {
  background-image: url("../img/activities/dance.jpg");
}
.img-e {
  background-image: url("../img/activities/pilates.jpg");
}
.img-f {
  background-image: url("../img/activities/hiit.jpg");
}

/*----------Contenedores-------------*/

.flip-container {
  background-color: transparent;
  width: 30%;
  height: 30vh;
  border: 1px solid transparent;
  perspective: 1000px;
  margin-right: 3em;
  margin-bottom: 3em;
}

/*------------Animación para girar-----------*/

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-container:hover .card {
  transform: rotateY(180deg);
}

/*------------Cara Frontal y Reverso-----------*/

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backface-visibility: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

/*------------Reverso-----------*/

.back {
  transform: rotateY(180deg);
  color: var(--white);
  background: rgb(65, 65, 65);
  background: linear-gradient(298deg, rgba(65, 65, 65, 1) 0%, rgba(51, 51, 51, 1) 22%, rgba(28, 28, 28, 1) 64%, rgba(8, 8, 8, 1) 98%);
  border: 2px solid transparent;
  padding: 1rem;
}

/*-----------------Horarios----------*/

.timetable {
  width: 95%;
  padding: 0;
  display: flex;
  align-items: center;
}
.week {
  width: 20%;
  padding: 1em;
  gap: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: rgb(65, 65, 65);
  background: linear-gradient(298deg, rgba(65, 65, 65, 1) 0%, rgba(51, 51, 51, 1) 22%, rgba(28, 28, 28, 1) 64%, rgba(8, 8, 8, 1) 98%);
}
.week a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5em;
}
.week a:hover {
  color: var(--yellow);
  border-bottom: var(--yellow) 2px solid;
  padding: 0.3em;
  transform: scale(1.1);
  transition: 0.5s;
}
#frame {
  width: 60%;
  height: 80vh;
  padding: 1em;
  background-color: var(--white);
}

/*-------------Clases dirigidas-----------*/

.class {
  padding: 0.5em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}
.title-class {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  align-content: center;
  font-size: 2em;
  padding: 0;
}
.class-img {
  width: 10%;
}
.info-class {
  width: 70%;
}
.led-class {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.coach {
  width: 30%;
}
.coach img{
  height: 30vh;
  border-radius: 50%;
  border: var(--yellow) 5px solid;
}
.hours {
  display: flex;
  flex-direction: column;
}
.hours table,
.hours tr,
.hours td {
  border: var(--yellow) 2px solid;
  border-collapse: collapse;
  padding: 1em;
  text-align: center;
  background: rgb(65, 65, 65);
  background: linear-gradient(298deg, rgba(65, 65, 65, 1) 0%, rgba(51, 51, 51, 1) 22%, rgba(28, 28, 28, 1) 64%, rgba(8, 8, 8, 1) 98%);
  color: var(--white);
}

/*-----------------Contacto-----------*/

.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
form {
  padding: 1em;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 1em;
}
label {
  font-weight: bolder;
}
form input,
textarea, select {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 1em;
  width: 100%;
  border: none;
}
input {
  font-family: var(--fontCont);
}
::placeholder, option {
  font-family: var(--fontCont);
  color: rgb(53, 53, 53);
}
.button {
  background-color: var(--yellow);
  color: var(--black);
  font-family: var(--fontTitle);
}
.button:hover {
  transform: scale(0.8);
  transition: 0.5s;
}

/*-----------------Footer-----------*/

footer {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  align-content: center;
  background-color: var(--yellow);
  border-top: var(--black) 0.5em dashed;
  border-bottom: var(--black) 0.5em dashed;
}
.copyright {
  font-size: 1.1em;
  font-family: var(--fontLight);
}
.social-bar {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.social-bar a {
  font-size: 1.5em;
  color: var(--black);
}
.social-bar a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

/*-----------------Ubicación-----------*/

.location {
  width: 100%;
  padding: 0.5em;
  background-color: var(--black);
  color: var(--yellow);
  display: flex;
  justify-content: center;
  gap: 1em;
}
.location-info {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 0.5em;
  font-size: 0.8em;
}

/*------------Diseño responsive------*/

@media (max-width:1200px) {
  #frame {
    width: 90%;
  }
  .coach {
    width: 50%;
  }
  .activities-class {
    width: 100%;
  }
  .flip-container {
    width: 45%;
  }
}
@media (max-width:768px) {
  header {
    flex-direction: column;
  }
  .logo, .menu {
    justify-content: center;
  }
  .title {
    align-self: center;
  }
  .timetable {
    width: 100%;
    flex-direction: column;
  }
  .week {
    width: 100%;
    flex-direction: row;
    font-size: 1em;
    gap: 0.8em;
    flex-wrap: wrap;
  }
  #frame {
    width: 90%;
  }
  .led-class {
    flex-direction: column;
  }
  .coach {
    width: 80%;
  }
  .flip-container {
    width: 28em;
    height: 20em;
  }
  div[class*="img-"] {
    height: 100%;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
@media (max-width:500px) {
  .menu a {
    text-align: center;
  }
  .location {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}